/* search field style */
.input-field {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--light);
  padding: 4px 5px 4px 17.5px;
  border-radius: 4px;
}
.input-field input[type="text"] {
  width: 100%;
  background-color: transparent;
  padding-right: 25px;
  padding-left: 9.5px;
  font-size: 12px;
  line-height: 14.06px;
}
.input-field input[type="text"]::placeholder {
  text-overflow: ellipsis;
  font-family: var(--font-roboto);
  font-size: 12px;
}
.input-field input[type="text"],
.search-btn {
  border: none;
  outline: none;
  font-family: var(--font-roboto);
}
.input-field .search-btn {
  padding: 14px 27px;
  background-color: var(--blue);
  border-radius: 4px;
  font-size: 1rem;
  line-height: 18.75px;
  color: var(--light);
}
