:root {
  --main-background: hsl(228, 38%, 97%);
  --text-color: hsl(225, 43%, 35%);
  --logo-color: hsl(249, 20%, 18%);
  --blue: hsl(212, 100%, 56%);
  --light-gray: hsl(227, 19%, 76%);
  --very-light-gray: hsl(229, 19%, 77%);
  --light: hsl(0, 0%, 100%);

  /* fonts */
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-poppins);
}

.material-icons {
  font-size: 18px;
  color: var(--very-light-gray);
}
